<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sing up</h2>
  <hr />

  <div class="mb-3">
    <label style="margin-right: 10px">I am a: </label>
    <label class="form-check-label">
      <input
        type="radio"
        class="form-check-input"
        value="male"
        formControlName="gender"
      />
      Male
    </label>
    <label class="form-check-label">
      <input
        type="radio"
        class="form-check-input"
        value="female"
        formControlName="gender"
      />
      Male
    </label>
  </div>

  <app-text-inpu
    [formControl]="$any(registerForm.controls['username'])"
    [label]="'Username'"
  >
  </app-text-inpu>

  <app-text-inpu
    [formControl]="$any(registerForm.controls['knowAs'])"
    [label]="'Know as'"
  >
  </app-text-inpu>

  <app-date-picker
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
    [label]="'Date of birth'"
    [maxDate]="maxDate"
  >
  </app-date-picker>

  <app-text-inpu
    [formControl]="$any(registerForm.controls['city'])"
    [label]="'City'"
  >
  </app-text-inpu>

  <app-text-inpu
    [formControl]="$any(registerForm.controls['contry'])"
    [label]="'Contry'"
  >
  </app-text-inpu>

  <app-text-inpu
    [formControl]="$any(registerForm.controls['password'])"
    [label]="'password'"
    [type]="'password'"
  >
  </app-text-inpu>

  <app-text-inpu
    [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'confirm password'"
    [type]="'password'"
  >
  </app-text-inpu>

  @if (validationErros){
  <div class="alert alert-danger text-start">
    <ul>
      @for (error of validationErros; track $index) {
      <li>{{ error }}</li>
      }
    </ul>
  </div>
  }

  <div class="form-group text-center">
    <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default me-2" (click)="cancel()" type="button">
      Cancel
    </button>
  </div>
</form>
